@model TestProject.ViewModels.ViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.FiscalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Nation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiscalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nation)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AuthorID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.AuthorID">Edit</a> |

                    <form asp-action="Delete" asp-route-id="@item.AuthorID" data-ajax="true" data-ajax-update="#AuthorList" style="display: inline;">
                        <!-- Modal trigger -->
                        @if (!Model.Compositions.Any(c => c.AuthorID == item.AuthorID))
                        {
                            <button type="button" class="btn btn-sm btn-danger d-none d-md-inline-block" data-toggle="modal" data-target="#confirmationModal">
                                Delete
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-danger d-none d-md-inline-block" data-toggle="modal" data-target="#confirmationModal" disabled>
                                Delete
                            </button>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
