@model TestProject.ViewModels.ViewModel

@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Summary)
        </dd>
    </dl>
</div>

<h4>Author List</h4>

<p>
    <a asp-action="AddAuthor" asp-route-id="@Model.BookID">Add author</a>
</p>

<div id="RemoveAuthorList">
    <partial name="_RemoveAuthorList" model="Model" />
</div>

<a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorID">Back</a>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to add this author?
            </div>
            <div class="modal-footer">
                <button id="confirmYes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button id="confirmNo" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#confirmationModal').on('shown.bs.modal', (event) => {
            var modalTrigger = $(event.relatedTarget);
            var form = modalTrigger.parent();

            $('#confirmYes').on('click', () => {
                form.submit();
                console.log(form);
                $('#confirmYes').off();
            });
        });
    </script>
}