@model TestProject.ViewModels.ViewModel

@{
    ViewData["Title"] = "Author Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.FiscalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FiscalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Nation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Nation)
        </dd>
    </dl>
</div>

<h4>Book List</h4>

<p>
    <a asp-controller="Books" asp-action="Create" asp-route-id="@Model.Author.AuthorID">Create a new book for this author</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookID" asp-route-authorId="@Model.Author.AuthorID">Details</a> |
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.BookID" asp-route-authorId="@Model.Author.AuthorID">Edit</a> |
                    <a asp-controller="Books" asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Authors" asp-action="Index">Back</a>
</div>
